# Build output #
###############
/dist
/build
/tmp

# IDE/Editor files #
####################
.vscode/
.idea/
*.swp
*.swo
*~

# Misc #
########
.env
.secret


# dotenv environment variables file #
######################################
.env
.env.test
compile_commands.json

.gdb_history
